/*Estilizando elementos básicos da página*/
body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #d4d4d2;
}

/*Estilizando a <div> principal (que contem a calculadora)*/
div#calc {
    text-align: center;
    box-shadow: 0 0 20px black;
    background: #000000;
    width: 350px;
    height: 522px;
    border-radius: 42px;
}

/*Estilizando todos elementos do tipo "input"*/
input {
    margin: 4px;
    border: none;
    border-radius: 100%;
    color: #b4b1b4; 
    font-size: 28px;
}

/*Estilizando a tela que exibe os valores da calculadora*/
input[type=text] {
    width: 316.4px;
    height: 98px;
    border-radius: 20px;
    background: #000000;
    text-align: right;
    font-size: 98px;
    color: #fcfcfc;
    font-family: "calibri"; /*Obs: Como desconhecia a fonte ultilizada, setei para a que mais se parecia*/
    font-weight: 100;
}

/*Estilizando os botões da calculadora*/
input[type=button] {
    width: 70px;
    height: 70px;
    background: #353235;
    color:#f2f2f2;
}

/*Estilizando os botões diferentes dos demais*/
div#calc div input:nth-child(4) {
    background: #f1993a;
    color: #f2f2f2;
}
div#primeira input:nth-child(1) {
    background: #a7a5a5;
    color:#000000;
}
div#primeira input:nth-child(2) {
    background: #a7a5a5;
    color:#000000;
}
div#primeira input:nth-child(3) {
    background: #a7a5a5;
    color:#000000;
}
div#quinta input:nth-child(1) {
    width: 154px;
    height: 70px;
    border-radius: 40px;
    text-align: left;
}
div#quinta input:nth-child(3) {
    background: #f1993a;
    color: #f2f2f2;
}

/* Estilizando o rodapé de créditos */
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#575756;
  font-size: 10px;
}




/* By: Jonathan - https://github.com/jonathanoliveirarocha */